
h1 {
    text-align: center;
    
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

h2 {
    text-align: center;
}

#blue {
    
    background-color: blue;
    border: 3px solid black;
    width: 100px;
    height: 100px;
}

#red {
    
    background-color: red;
    border: 3px solid black;
    width: 100px;
    height: 100px;
}

#green {
    
    background-color: green;
    border: 3px solid black;
    width: 100px;
    height: 100px;
}


/* CALCULACU */

#calculacu {
    text-align: center;
}

#caju, #banana, #manga, #pedra {
    border: 3px solid black;
    width: 100px;
    height: 100px;
}

